body {
    background-color: #dddddd;
}
header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border: #cccccc;
    padding: 20px;
}
a {
    color: gray;
}
.contenthead {
    color: teal;
}
.content {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
}
footer {
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 1px;
    left: 1px;
    padding-top: 10px;
    border-top: 8px solid #4aaaa5;
    align-content: center;
    background-color: #666666;
    text-align: center;
    color: white;
}
#copy {
    margin-bottom: 0.5%;
    padding-top: 1%;

}