body {
    background-color: #dddddd;
    margin-bottom: 10%;
}
.white {
    background-color: white;
}
header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border: #cccccc;
    width: 102%;
}
.hitems {
    padding: 1.5%;
    margin-bottom: 0rem;
}
.name {
    background-color: #4aaaa5;
    color: white;
}
a {
    color: gray;
}
.contenthead {
    color: teal;
}
.content {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
}
p {
    color: #777777;
}
.mypic {
    height: 190px;
    width: 200px;
    padding: 0%;
    margin: 2%;
    margin-bottom: -1%;
}
footer {
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 1px;
    left: 1px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    margin-top: 5%;
    margin-bottom: -1%;
}
#copy {
    margin-bottom: 0.5%;
    padding-top: 1%;

}